#wunderlist_list {
	font-size: 10pt;
	margin-left: 10px;
	line-height: 10px;
}

#wunderlist_table {
	padding-top: 0px;
}

#wunderlist_table i {
	padding-right: 10px;
}

#wunderlist_table i.fa-circle {
	font-size: 10pt;
	margin-left: 5px;
}
